@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-antiFlashWhite: #f0f3f867;
	/* --color-red-500: theme('colors.red.500'); */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}

}

@font-face {
	font-family: 'Vazirmatn';
	src: url("/fonts/Vazirmatn[wght].woff2") format('woff2 supports variations'),
		url("/fonts/Vazirmatn[wght].woff2") format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;

}

html,
body {
	@apply w-full h-full m-0 p-0 relative;
}

body {
	@apply font-vazir dark:text-antiFlashWhite;
}


nav ul a {
	@apply duration-300 px-3 py-1 text-emerald-900 hover:text-appleGreen dark:text-antiFlashWhite dark:hover:text-lightBlue-celtic;
}

p {
	@apply leading-relaxed !important;
}

.underlined {
	@apply underline underline-offset-[10px];
}

em.underlined {
	@apply not-italic;
}

span.fi {
	@apply inline-flex items-center justify-center;
}

.hexagon {
	@apply before:rotate-[60deg] after:-rotate-[60deg];
	/* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
	&:before,
	&:after {
		content: '';
		@apply absolute bg-inherit h-full w-full top-0 left-0 inline-block;
	}
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	  display: none;
	}
  
	100% {
	  opacity: 1;
	  display: flex;
	}
  }
  
  @keyframes fade-out {
	0% {
	  opacity: 1;
	  transform: scaleY(1);
	  display: flex;
	}
  
	100% {
	  opacity: 0;
	  transform: scaleY(0);
	  display: none;
	}
  }
  
  @keyframes backdrop-fade-in {
	0% {
	  background-color: rgb(0 0 0 / 0%);
	}
  
	100% {
	  background-color: rgb(0 0 0 / 25%);
	}
  }

dialog {
	&:open {
		@apply flex w-full h-full items-center justify-center;
		animation: fade-in 0.7s ease-out;
	}
	&::backdrop {
		@apply bg-gray-600/90 dark:bg-black/50;
	}
}

input:hover, input:focus, input:active {
	outline: none;
}
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
