#search-tour-form > span {
	visibility: hidden;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}

#search-tour-form > span {
	@apply from-[#0c002b00] dark:to-[#1779ff] to-zinc-600;
}

#search-tour-form > span:nth-child(1) {
	@apply bg-gradient-to-r;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation: animate1 4s ease-in-out infinite;
	/* Changed from 2s to 4s */
	animation-delay: 2s;
	/* Changed from 1s to 2s */

}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
		visibility: hidden;
	}

	10% {
		visibility: visible;
	}

	100% {
		visibility: visible;
		transform: translateX(100%);
	}
}

#search-tour-form > span:nth-child(2) {
	@apply bg-gradient-to-b;
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	animation: animate2 4s linear infinite;
	/* Changed from 2s to 4s */
	animation-delay: 4s;
	/* Changed from 2s to 4s */
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);
		visibility: hidden;
	}
	10% {
		visibility: visible;
	}

	100% {
		visibility: visible;
		transform: translateY(100%);
	}
}

#search-tour-form > span:nth-child(3) {
	@apply bg-gradient-to-l;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation: animate3 4s ease-in-out infinite;
	/* Changed from 2s to 4s */
	animation-delay: 2s;
	/* Changed from 1s to 2s */

}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
		visibility: hidden;
	}
	10% {
		visibility: visible;
	}

	100% {
		visibility: visible;
		transform: translateX(-100%);
	}
}

#search-tour-form > span:nth-child(4) {
	@apply bg-gradient-to-t;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	animation: animate4 4s linear infinite;
	/* Changed from 2s to 4s */
	animation-delay: 4s;
	/* Changed from 2s to 4s */

}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
		visibility: hidden;
	}
	10% {
		visibility: visible;
	}

	100% {
		visibility: visible;
		transform: translateY(-100%);
	}
}